@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {

    /**
     * colors
     */
  
    --pale-purple-pantone: hsl(262, 63%, 92%);
    --medium-sea-green: hsl(152, 63%, 43%);
    --lavender-blush: hsl(336, 35%, 92%);
    --carolina-blue: hsl(204, 91%, 53%);
    --columbia-blue: hsl(204, 92%, 90%);
    --alice-blue-1: hsl(216, 38%, 95%);
    --alice-blue-2: hsl(216, 75%, 97%);
    --alice-blue-3: hsl(216, 38%, 95%);
    --alice-blue-4: hsl(217, 33%, 92%);
    --independence: hsl(219, 21%, 39%);
    --deep-cerise: hsl(329, 63%, 52%);
    --eerie-black: hsl(210, 11%, 15%);
    --space-cadet: hsl(240, 22%, 25%);
    --blue-jeans: hsl(204, 80%, 63%);
    --slate-blue: hsl(262, 60%, 57%);
    --beau-blue: hsl(208, 86%, 92%);
    --honey-dew: hsl(152, 48%, 89%);
    --mimi-pink: hsl(329, 63%, 90%);
    --red-salsa: hsl(0, 79%, 63%);
    --sapphire: hsl(211, 100%, 35%);
    --manatee: hsl(219, 14%, 60%);
    --white: hsl(0, 0%, 100%);
  
    --gradient: linear-gradient(to top, var(--alice-blue-2), var(--alice-blue-3));
  
    /**
     * typography
     */
  
    --ff-nunito: 'Nunito', sans-serif;
    --ff-open-sans: 'Open Sans', sans-serif;
  
    --fs-1: 2.125rem;
    --fs-2: 1.875rem;
    --fs-3: 1.5rem;
    --fs-4: 1.375rem;
    --fs-5: 1.125rem;
    --fs-6: 0.875rem;
    --fs-7: 0.625rem;
  
    --fw-400: 400;
    --fw-600: 600;
  
    /**
     * transition
     */
  
    --transition: 0.5s ease;
  
    /**
     * spacing
     */
  
    --section-padding: 50px;
  
    /**
     * radius
     */
  
    --radius-10: 10px;
    --radius-14: 14px;
    --radius-18: 18px;
  
    /**
     * shadow
     */
  
    --shadow-1: 3px 3px 9px hsla(240, 14%, 69%, 0.2);
    --shadow-2: 3px 3px 9px hsla(204, 92%, 59%, 0.3);
  
  }
  
  
  
  * {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    /* background-color: #6a9ac4;s */
  }
  
  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a { text-decoration: none; }
  
  a,
  img,
  span,
  label,
  input,
  button,
  ion-icon { display: block; }
  
  button,
  input {
    background: none;
    border: none;
    font: inherit;
  }
  
  button { cursor: pointer; }
  
  input { width: 100%; }
  
  ion-icon { pointer-events: none; }
  
  html {
    font-family: var(--ff-open-sans);
    color: var(--eerie-black);
    font-size: 1rem;
    line-height: 1.5;
    scroll-behavior: smooth;
  }
  
  body {
    background: var(--alice-blue-1);
    overflow-x: hidden;
  }
  
  ::-webkit-scrollbar {
    width: 15px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track { background: var(--white); }
  
  ::-webkit-scrollbar-thumb {
    background: hsla(219, 14%, 60%, 0.3);
    border: 2px solid var(--white);
  }
  
  ::-webkit-scrollbar-thumb:hover { background: hsla(219, 14%, 60%, 0.5); }

.btn {
    position: relative;
    background: var(--background, var(--carolina-blue));
    color: var(--color, var(--white));
    min-width: var(--width, 40px);
    min-height: var(--height, 40px);
    padding: 5px;
    display: grid;
    place-items: center;
    border-radius: var(--radius-14);
    font-family: var(--ff-nunito);
    font-size: var(--fs-6);
    font-weight: var(--fw-600);
    overflow: hidden;
  }
  
  .btn ion-icon {
    font-size: 22px;
    --ionicon-stroke-width: 40px;
  }
  
  .btn::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, hsla(0, 0%, 100%, 0.4), transparent);
    opacity: 0;
    pointer-events: none;
    transition: var(--transition);
  }
  
  .btn:is(:hover, :focus) { box-shadow: var(--shadow-2); }
  
  .btn:is(:hover, :focus)::before { opacity: 1; }

.header-contact { display: none; }

.header {
  background: var(--alice-blue-1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition);
  z-index: 4;
}

.header.active { box-shadow: var(--shadow-1); }

.header .container {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-actions .btn span { display: none; }

.user-btn {
  --color: var(--independence);
  --background: var(--white);
  --shadow-2: var(--shadow-1);
  box-shadow: var(--shadow-1);
}

.nav-toggle-btn span {
  background: var(--independence);
  width: 22px;
  height: 2px;
  border-radius: 2px;
  margin-block: 8px;
  transform-origin: right;
  transition: var(--transition);
}

.nav-toggle-btn span.two { transform: scaleX(0.7); }

.nav-toggle-btn span.three { transform: scaleX(0.4); }

.nav-toggle-btn:is(:hover, :focus) span { background: var(--carolina-blue); }

.nav-toggle-btn.active span {
  transform: scaleX(1);
  background: var(--carolina-blue);
}

.navbar {
  background: var(--alice-blue-1);
  position: fixed;
  top: 70px;
  bottom: 0;
  right: -260px;
  max-width: 260px;
  width: 100%;
  padding: 20px 25px;
  border: 1px solid var(--white);
  box-shadow: var(--shadow-1);
  visibility: hidden;
  transition: 0.25s cubic-bezier(0.51, 0.03, 0.64, 0.28);
}

.navbar.active {
  visibility: visible;
  transform: translateX(-100%);
  transition: 0.5s cubic-bezier(0.33, 0.85, 0.56, 1.02);
}

.navbar-link {
  color: var(--independence);
  font-family: var(--ff-nunito);
  font-size: var(--fs-6);
  padding-block: 5px;
  margin-bottom: 15px;
}

.navbar-link:is(:hover, :focus) { color: var(--carolina-blue); }

.overlay {
  position: fixed;
  top: 70px;
  background: hsl(216, 38%, 95%);
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
}

.overlay.active {
  opacity: 0.7;
  pointer-events: all;
}
#contact {
    background-color: #6a9ac4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-box {
    width: clamp(100px, 90%, 1000px);
    margin: 80px 50px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .contact-links, .contact-form-wrapper {
    width: 50%;
    padding: 8% 5% 10% 5%;
  }
  
  
  .contact-links {
    background-color: #1f2e43;
    background:
      radial-gradient(
        circle at 55% 92%, #426691 0 12%, transparent 12.2%
      ), 
      radial-gradient(
        circle at 94% 72%, #426691 0 10%, transparent 10.2%
      ), 
      radial-gradient(
        circle at 20% max(78%, 350px), #263a53 0 7%, transparent 7.2%
      ), 
      radial-gradient(
        circle at 0% 0%, #263a53 0 40%, transparent 40.2%
      ), 
      #1f2e43;
    border-radius: 10px 0 0 10px;
  }
  
  .contact-form-wrapper {
    background-color: #ffffff8f;
    border-radius: 0 10px 10px 0;
  }
  
  @media only screen and (max-width: 800px) {
    .contact-links, .contact-form-wrapper {
      width: 100%;
    }
    
    .contact-links {
      border-radius: 10px 10px 0 0;
    }
    
    .contact-form-wrapper {
      border-radius: 0 0 10px 10px;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .contact-box {
      width: 95%;
      margin: 8% 5%;
    }
  }
  
  h2 {
    font-family: 'Arimo', sans-serif;
    color: #fff;
    font-size: clamp(30px, 6vw, 60px);
    letter-spacing: 2px;
    text-align: center;
    transform: scale(.95, 1);
  }
  
  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
  }
  
  .link {
    margin: 10px;
    cursor: pointer;
  }
  
  img {
    width: 45px;
    height: 45px;
    filter: 
      hue-rotate(220deg)
      drop-shadow(2px 4px 4px #0006);
    transition: 0.2s;
    /* user-select: none; */
  }
  
  img:hover {
    transform: scale(1.1, 1.1);
  }
  
  img:active {
    transform: scale(1.1, 1.1);
    filter: 
      hue-rotate(220deg)
      drop-shadow(2px 4px 4px #222)
      sepia(0.3);
  }
  
  .form-item {
    position: relative;
  }
  
  label, input, textarea {
    font-family: 'Poppins', sans-serif;
  }
  
  label {
    position: absolute;
    top: 10px;
    left: 2%;
    color: #999;
    font-size: clamp(14px, 1.5vw, 18px);
    pointer-events: none;
    /* user-select: none; */
  }
  
  input, textarea {
    width: 100%;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 12px;
    font-size: clamp(15px, 1.5vw, 18px);
  }
  
  input:focus+label, 
  input:valid+label, 
  textarea:focus+label, 
  textarea:valid+label {
    font-size: clamp(13px, 1.3vw, 16px);
    color: #777;
    top: -20px;
    transition: all .225s ease;
  }
  
  .submit-btn {
    background-color: #fd917e;
    filter: drop-shadow(2px 2px 3px #0003);
    color: #fff;
    font-family: "Poppins",sans-serif;
    font-size: clamp(16px, 1.6vw, 18px);
    display: block;
    padding: 12px 20px;
    margin: 2px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* user-select: none; */
    transition: 0.2s;
  }
  
  .submit-btn:hover {
    transform: scale(1.1, 1.1);
  }
  
  .submit-btn:active {
    transform: scale(1.1, 1.1);
    filter: sepia(0.5);
  }
  
  @media only screen and (max-width: 800px) {
    h2 {
      font-size: clamp(40px, 10vw, 60px);
    }
  }
  
  @media only screen and (max-width: 400px) {
    h2 {
      font-size: clamp(30px, 12vw, 60px);
    }
    
    .links {
      padding-top: 30px;
    }
    
    img {
      width: 38px;
      height: 38px;
    }
  }
  

@media (min-width: 350px) {

    /**
     * FEATURED CAR
     */
  
    .featured-car-card .card-list { grid-template-columns: 1fr 1fr; }
  
    .featured-car-card .card-price { margin-right: auto; }
  
    .featured-car-card .btn:last-child {
      min-width: max-content;
      padding-inline: 15px;
    }
  
  }
  
  
  
  
  
  /**
   * responsive for large than 580px screen
   */
  
  @media (min-width: 580px) {
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 540px;
      margin-inline: auto;
    }
  
  
  
    /**
     * HEADER
     */
  
    .header-actions .btn span {
      display: block;
      font-weight: var(--fw-400);
      padding-inline: 15px;
    }
  
    .header-actions .btn:first-of-type ion-icon { display: none; }
  
  }
  
  
  
  
  
  /**
   * responsive for large than 768px screen
   */
  
  @media (min-width: 768px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-1: 2.625rem;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 720px; }
  
  
  
    /**
     * HEADER
     */
  
    .header-actions { gap: 30px; }
  
    .header-contact {
      display: block;
      text-align: center;
    }
  
    .header-contact .contact-link {
      color: var(--space-cadet);
      font-family: var(--ff-nunito);
      font-size: var(--fs-5);
      line-height: 1.3;
    }
  
    .header-contact .contact-link:is(:hover, :focus) { color: var(--carolina-blue); }
  
    .header-contact .contact-time {
      color: var(--independence);
      font-size: var(--fs-7);
    }
  
  
  
    /**
     * HERO
     */
  
    .hero {
      position: relative;
      min-height: 85vh;
      display: flex;
      align-items: center;
      z-index: 1;
    }
  
    .hero-form {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 0.8fr;
    }
  
    .input-wrapper:not(:last-of-type) {
      border-bottom: none;
      border-right: 1px solid hsla(0, 0%, 0%, 0.08);
    }
  
    .input-label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    .hero-banner {
      display: block;
      background: url("../images/hero-banner.jpg") no-repeat;
      background-size: cover;
      background-position: left;
      position: absolute;
      top: 100px;
      bottom: 50px;
      left: 65%;
      width: 500px;
      border-radius: 30px;
      z-index: -1;
    }
  
  
  
    /**
     * FEATURED CAR
     */
  
    .featured-car-list { grid-template-columns: repeat(2, minmax(0, 1fr)); }
  
  
  
    /**
     * GET START
     */
  
    .get-start-list { grid-template-columns: 1fr 1fr; }
  
  
  
    /**
     * FOOTER
     */
  
    .footer-brand { width: 100%; }
  
    .footer-text { max-width: 400px; }
  
    .footer-bottom {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      padding-block: 30px;
      box-shadow: var(--shadow-1);
    }
  
    .social-list { margin-bottom: 0; }
  
  }
  
  
  
  
  
  /**
   * responsive for large than 992px screen
   */
  
  @media (min-width: 992px) {
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 960px; }
  
  
  
    /**
     * HERO
     */
  
    .hero .container { width: 100%; }
  
  
    /**
     * FOOTER
     */
  
    .footer-list:not(:last-of-type) { width: 25%; }
  
    .footer-list:last-of-type { width: 50%; }
  
  }
  
  
  
  
  
  /**
   * responsive for large than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-1: 2.875rem;
      --fs-2: 2rem;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 1170px; }
  
  
  
  
    /**
     * HEADER
     */
  
    .overlay,
    .nav-toggle-btn { display: none; }
  
    .navbar,
    .navbar.active { all: unset; }
  
    .navbar-link {
      margin-bottom: 0;
      font-weight: var(--fw-600);
    }
  
    .navbar-list {
      display: flex;
      gap: 50px;
    }
}